<div class="row">
    <div class="col-12">
        <img [src]="" alt="" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Recepie name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recepie <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">To shopping list</a>
                <a class="dropdown-item" href="#">Edit recepie</a>
                <a class="dropdown-item" href="#">Delete recepie</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-12">
        Ingredients
    </div>
</div>