<div class="row mt-3">
    <div class="col-12">
        <button class="btn btn-success">New Recepie</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recepie of recepies">
            <div class="row">
                <div class="col-8">
                    <div class="float-left">
                        <h4 class="">
                            {{recepie.name}}
                        </h4>
                        <p class="">
                            {{recepie.description}}
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <span class="float-right">
                        <img [src]="recepie.imagePath" alt="{{recepie.name}}" class="img-responsive" style="max-height: 50px;" />
                    </span>
                </div>
            </div>
        </a>
        <app-recepie-item></app-recepie-item>
    </div>
</div>