<div class="container">
    <div class="row">
      <div class="col-12">
        <div><small>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon.com</a></small></div>
        <div><small>Photos by <a href="https://pixabay.com/users/pexels-2286921/" title="Pexels">Pexels</a> and <a href="https://pixabay.com/users/ritae-19628/" title="RitaE">RitaE</a> from <a href="https://pixabay.com/" title="Pixabay">Pixabay.com</a></small></div>
      </div>
    </div>
</div>