<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img id="logo" src="./assets/pictures/logo.png" alt="site logo">
      Recepie Book
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="onSelect('recepie')">
            Recepies
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  (click)="onSelect('shopping-list')">Shopping List</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Menu
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">My Recepies</a>
            <a class="dropdown-item" href="#">My Shopping List</a>
            <a class="dropdown-item" href="#">Save Data</a>
            <a class="dropdown-item" href="#">Fetch Data</a>
            <a class="dropdown-item" href="#">Login/Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
